<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Duryog Sathi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
        
              <li class="nav-item">
              <a class="nav-link" href="/guideline">Disaster Guideline</a>
              </li>
              <!-- <li class="nav-item dropdown">
              <!-- <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 
              </a> -->
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/weather">Weather Report</a></li>
              </ul>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/guideline">Weather report</a>
                </li>
              

        </ul>
      </div>
    </div>
  </nav>

  <% if(locals.error) {%>
    <div class="alert alert-danger" role="alert">
        <%= locals.error%>
      </div>

<%} %>
  