<!DOCTYPE html>
<html>
   <head>
      <title>Leaflet Map</title>
      <!-- Load latest Leaflet CSS -->
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
      <!-- Load latest Leaflet JS -->
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
   </head>

   <body>
      <div id="map" style="width: 900px; height: 580px"></div>

      <script>
         // Ensure Leaflet is loaded
         document.addEventListener("DOMContentLoaded", function () {
            // Creating map options
            var mapOptions = {
               center: [17.385044, 78.486671],
               zoom: 3
            };

            // Creating a map object
            var map = L.map('map', mapOptions);

            // Creating a Layer object
            var layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

            // Adding layer to the map
            map.addLayer(layer);
         });
      </script>
   </body>
</html>
